html {
    scroll-behavior: smooth;
}

/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6; /* Increase line-height for readability */
}

h1, h2, h3, h4 {
    text-align: center;
    margin: 0;
    color: #3c2a19; /* Darker cookie brown for headings */
}

h1 {
    margin-bottom: -20px;
}

h2 {
    margin-bottom: 0px;
    font-size: 2em;
}

h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Navbar */
.navbar {
    background-color: white;
    color: #3c2a19;
    padding: 8px 0;/* Slightly more pronounced shadow */
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar ul li {

    margin: 0 20px; /* Increased spacing for better visibility */
}

.navbar ul li a {
    color: #6C4E31;
    text-decoration: none;
    color: 603F26;
    font-weight: bold;
    font-size: 18px; /* Larger font size for readability */
    transition: color 0.3s; /* Smooth color transition on hover */
}

.navbar ul li a:hover {
    color: #603F26;
    text-decoration: underline; /* Light color on hover */
}

/* Upload Recipe Section Styles */
.upload-recipe {
    background-color: #f8e9eb; /* White background for the form */
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    padding: 20px;
}

.recipe-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.submit-btn {
    background-color: #603F26; /* Light cookie brown */
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.submit-btn:hover {
    background-color: #b49b8f; /* Slightly darker cookie brown */
}

/* Footer */
.footer {
    /* Dark cookie brown */
       padding: 20px 0;
       background-color: #603F26;
       color: white;
       text-align: center;
   }
